.recipeTile_img 
{
    display:block;
    margin: 20%;
    height: 200px;
    width:200px;
    border-radius: 10%;
    justify-content: center;
    object-fit: cover;
}
.recipeTile_name{
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
}